{% extends "base.html" %}

{% block content %}
<div class="posts-wrapper">

    <!-- Header section -->
    <section class="all-posts-header">
        <div class="header-left">
            <h2>All Bird Sightings</h2>
        </div>
    
        <div class="header-right">
            <p>
                Explore recent bird sightings submitted by the community. You can scroll through or search by keyword to find specific observations. New posts appear at the top of the list, including photos, species, date/time, and activities observed.
            </p>
        </div>
    </section>
    
    <!-- Post content section -->
    <div class="post-section">

        <!-- Search input -->
        <input type="text" id="search" placeholder="Search posts...">

        <!-- Separator -->
        <hr class="post-separator">

        <div id="post-list">
            {% for post in posts %}
            <div class="post-wrapper">
                <div class="post-container">
                    <!-- Left: Image -->
                    <div class="post-image">
                        {% if post.image_filename %}
                        <img src="{{ url_for('static', filename='uploads/' ~ post.image_filename) }}" alt="Image of {{ post.bird_species }}">
                        {% endif %}
                    </div>

                    <!-- Right: Post Info -->
                    <div class="post-info">
                        <p class="post-comment">{{ post.comments }}</p>
                        <p class="post-user">Posted by {{ post.username }}</p>

                        <div class="post-details">

                            <div class="left-detail"><strong>Species:</strong> {{ post.bird_species }}</div>
                            <div class="right-detail"><strong>Location:</strong> {{ post.location }}</div>

                            <div class="left-detail"><strong>Date/Time:</strong> {{ post.date }} {{ post.time }}</div>
                            <div class="right-detail"><strong>Activity:</strong> {{ post.activity }}</div>
                        </div>

                        {% if post.username == session['username'] %}
                        <div class="post-actions">
                            <a href="{{ url_for('edit_post', post_id=post.id) }}">
                                <button type="button">Edit Post</button>
                            </a>
                                <button type="button" onclick="confirmDelete({{ post.id }})">Delete Post</button>
                            </div>
                        {% endif %}
                    </div>
                </div>

                <!-- Fun Fact and separator -->
                <hr class="post-separator">
                <div class="post-fact">
                    <em class="fun-fact"></em>
                </div>
                
                <hr class="post-separator">
            </div>
            {% endfor %}
        </div>

    </div>
</div>
{% endblock %}
